@* @{
  Layout = "_Layout";
}

@model SongTracker.Models.Song

<h4>Add a new song</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, "Name:")
  @Html.TextBoxFor(model => model.Name)
  <hr />
  @Html.LabelFor(model => model.Artist, "Artist:")
  @Html.TextBoxFor(model => model.Artist)
  <hr />
  @Html.LabelFor(model => model.Genre, "Genre:")
  @Html.TextBoxFor(model => model.Genre)
  <hr />
  @Html.LabelFor(model => model.Chords, "Chords:")
  @Html.TextBoxFor(model => model.Chords)
  <hr />
  @Html.Label("Select instrument")
  @Html.DropDownList("InstrumentId")

  <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all songs", "Index")</p> *@